@media only screen and (max-width: 600px) {

	#blockGrandparent{
		height: auto;
		width: 100vw;
		padding: 0;
		margin: 0;
	}

	#image{
		width: 100vw;
		height: auto;
		z-index: -100;
		max-width: 100vw;
		margin: 0;
		padding:0;
	}
	

	#mainParent{
	  width: 100vw;
	  height: auto;
	}

	#main{
	  padding-top: 10vh;
	  padding-bottom: 10vh;
	  width: 100vw;
	}

	#blockGrandparent{
	  width: 100vw;
	}

	#blockGrandparent h2{
		width: 70vw;
		font-size: 2.8vh;
		transition: font-size .5s ease;
	}

	#blockGrandparent p{
		width: 70vw;
		font-size: 2.2vh;
		display: block;
		width: auto;
	}

	#blockGrandparent:hover h2{
	  font-size: 2.8vh;
	}

	#blockGrandparent:hover p{
	  display: block;
	}

	#blockGrandparent:hover img{
	  width: auto;
	  height: auto;
	}

	#blockGrandparent:hover video{
	  width: auto;
	  height: auto;
	}

	#highlights{
	  display: flex;
	  flex-direction: column;
	  width: 100vw;
	}

	#blockParent2{
		margin: 10vw;
	}

	#filterTitle{
		margin: 10vw;
	 	padding: 1vw;
	 	font-size: 3vh;
	}

	#filters{
	  display: flex;
	  width: auto;
	  align-items: center;
	  justify-content: center;
	}

	#header{
		flex-direction: column;
		margin: 0;
	}

	#filterDiv{
		display: grid;
		grid-template-columns: auto auto auto;
		text-align: center;
		padding: 0;
		margin: 0;
		width: 100vw;
	}

	.dropParent button{
		width: 100%;
		display: block;
		font-size: 2.3vh;
		padding-top: 1.8vh;
		padding-bottom: 1.8vh;
		text-align: center;
	}

	.dropdown{
		padding-top: 9.8vh;
		background-color: rgba(0,0,0,1);
		position: fixed;
		top:0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}

	#filterDiv h2{
		font-size: 2.7vh;
		margin: 0;
		padding-bottom: 1vh;
	}

	.dropParent{
		padding-top: 5vh;
		position: relative;
		background-color: rgba(0, 0, 0, 1.0);
	}

}